@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-path {
    clip-path: polygon(11% 0%, 100% 0, 100% 100%, 0% 100%);
  }
}

.hand {
  font-family: "Caveat", cursive;
}

.router-link-active {
  @apply text-primary-600;
}

.router-link-exact-active {
  @apply text-primary-600;
}

input[type="number"][hide-spin-buttons]::-webkit-outer-spin-button,
input[type="number"][hide-spin-buttons]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"][hide-spin-buttons] {
  -moz-appearance: textfield;
}
