@tailwind base;
@tailwind components;
@tailwind utilities;

.clip-path {
  clip-path: polygon(11% 0%, 100% 0, 100% 100%, 0% 100%);
}

.hand {
  font-family: "Caveat", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

.router-link-active {
  @apply text-primary-600;
}

.router-link-exact-active {
  @apply text-primary-600;
}

input[type="number"][hide-spin-buttons]::-webkit-outer-spin-button,
input[type="number"][hide-spin-buttons]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"][hide-spin-buttons] {
  -moz-appearance: textfield;
}

@layer utilities {
  .underlined {
    display: inline-block;
    position: relative;
    background: inherit;
  }

  .underlined::after {
    content: "";
    width: 110%;
    height: 24px;
    border-width: 3px;
    border-color: #fbbf24 transparent transparent;
    border-radius: 100% 50% 0px 0px;
    position: absolute;
    top: 93%;
    left: -5%;
  }
}
